.head {
  height: 50px;
  width: 100%;
  box-shadow: 0 2px 8px #f0f1f2;
  display: flex;
  justify-content: space-between;
}

.head .logo {
  padding-left: 20px;
  width: 200px;
  font-size: 20px;
  line-height: 50px;
  color: rgb(0 0 0 / 65%);
  cursor: default;
}

.head .github {
  width: 25px;
  margin-right: 50px;
  cursor: pointer;
}
