.menu {
  border-right: 1px solid rgb(0 0 0 / 15%);
  height: calc(100vh - 50px);
  overflow: auto;
}

.menu .item {
  display: block;
  padding: 10px 20px;
  width: 200px;
  height: 40px;
  text-decoration: none;
  color: rgb(0 0 0 / 70%);
}

.menu .active {
  transition: 0.25s;
  background-color: rgb(230 247 255);
  color: rgb(24 144 255);
}
